@font-face {
    font-family: 'Pixie Serif';
    src: local('Pixie Serif Regular'), local('Pixie-Serif-Regular'),
        url('../fonts/pixieserif/PixieSerif-Regular.woff2') format('woff2'),
        url('../fonts/pixieserif/PixieSerif-Regular.woff') format('woff'),
        url('../fonts/pixieserif/PixieSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }